@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700;900&display=swap");

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  color: #111827;
}

h1 {
  font-weight: 900;
}

p {
  line-height: 1.8;
}

body {
  font-family: "Tajawal", sans-serif;
  background-color: #eeeeff;
}

a {
  font-family: inherit;
}
